<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% if pageTitle %}{{ pageTitle }}{% else %}Page without title{% endif %}</title>
    </head>
    <body>
        {% block header %}
            {% include "partials/header.njk" %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "partials/footer.njk" %}
        {% endblock %}
    </body>
</html>